# Dependencies
node_modules/
jspm_packages/
bower_components/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing & Coverage
coverage/
*.lcov
.nyc_output
lib-cov

# Next.js & Build Outputs
.next/
out/
build/
dist/
typings/
*.tgz

# Cache & Diagnostics
.cache/
.npm
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
.yarn-integrity
*.tsbuildinfo
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Logs & Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Serverless & Framework-specific
.nuxt
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.grunt
.lock-wscript

# HubSpot
hubspot.config.yml

# Environment & Credentials
.env*
*.pem

# Deployment
.vercel

# TypeScript & Framework files
next-env.d.ts

# Misc / OS
.DS_Store

# Scripts
/scripts